asn1crypto=1.5.1
attrs==25.3.0
Automat==24.8.1
blinker==1.4
certifi==2025.1.31
chardet==5.2.0
click==8.1.8
cloud-init==23.1.2
colorama==0.4.6
command-not-found==0.3
configobj==5.0.6
constantly==23.10.4
cryptography==44.0.2
cupshelpers==1.0
defer==1.0.4
docutils==0.21.2
httplib2==0.22.0
hyperlink==21.0.0
idna==3.10
incremental==24.7.2
Jinja2==3.1.6
jsonpatch==1.16
jsonpointer==3.0.0
jsonschema==4.23.0
keyboard==0.13.5
lxml==5.3.1
MarkupSafe==3.0.2
netifaces==0.11.0
oauthlib==3.2.2
PAM==0.2.0
pexpect==4.2.1
pyasn1==0.6.1
pyasn1-modules==0.4.1
pycairo==1.16.2
pycrypto==2.6.1
pycups==2.0.4
pygobject==3.26.1
PyJWT==2.10.1
pyOpenSSL==25.0.0
pyserial==3.4
python-apt==0.7.8
python-dateutil==2.9.0.post0
python-debian==1.0.1
PyYAML==6
requests==2.18.4
requests-unixsocket==0.4.1
roman==5.0
service-identity=24.2.0
six==1.11.0
sos==0.25.1
ssh-import-id==5.7
systemd-python==235
Twisted==24.11.0
ubuntu-drivers-common==0.0.0
ubuntu-pro-client==8001
ufw==0.36
unattended-upgrades==0.1
urllib3==2.3.0
xkit==0.0.0
zope.interface==7.2
